@model List<AdvanceHistorySelectDTO>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.css">

<div class="container col-md-12">
    <div class="card">
        <div class="card-header">
            <h3 class="mt-1">Onay Bekleyen Avans Talepleri</h3>
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Çalışanın<br />Adı</th>
                            <th>Ünvanı</th>
                            <th>Birimi </th>
                            <th>Talep<br />Durumu</th>
                            <th>Talep<br />Tutarı</th>
                            <th>Talep Olusturulma<br />Tarihi</th>
                            <th>İstenilen<br />Tarih</th>
                            <th>Proje</th>
                            <th>Son<br />Onaylayan</th>
                            <th>Son Onaylayan<br />Ünvan</th>
                            <th>Son onaylanma<br />Tarihi</th>
                            <th>Son Onaylanan<br />Tutar</th>
                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Advance.Employee.Name                 @item.Advance.Employee.Surname</td>
                                <td>@item.Advance.Employee.Title.TitleName</td>
                                <td>@item.Advance.Employee.BusinessUnit.BusinessUnitName</td>
                                <td>@item.Status.StatusName</td>
                                <td>@item.Advance.AdvanceAmount</td>
                                <td>@item.Advance.RequestDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.Advance.DesiredDate.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.Advance.Project.ProjectName</td>
                                <td>@item.Transactor.Name @item.Transactor.Surname</td>
                                <td>@item.Transactor.Title.TitleName</td>
                                <td>@item.Date.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.ApprovedAmount</td>
                              
                                <td>
                                    <a asp-controller="Advance" asp-action="GetMyApprovalAdvanceDetails" asp-route-id="@item.ID">Detaya git</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

